.tweet-box {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweet-box > form {
  display: flex;
  flex-direction: column;
}

.tweet-box .input-box {
  padding: 20px;
  display: flex;
}
.tweet-box .input-box > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweet-box .input-box > input:focus {
  outline: none;
}

.tweet-box .tweet-button {
  color: white;
  font-weight: 900;
  background-color: var(--twitter-color)!important;
  border: none;
  border-radius: 30px;
  text-transform: inherit;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
}
